*{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    margin:0;
    text-decoration: none;
    font-family: 'Graphik Trial', sans-serif;
}

header{
    letter-spacing: 0.2px;
}
nav{
    position: absolute;
    top: 0px;
    width: 1210px;
    height: 156px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left: 100px;
}
a{
    color: #ffffff;
    
}
a:hover{
    color: #2091F9;
    text-decoration:underline;
    font-weight:bold;
}
.background{
    width: 100%;

    color:#222B32;
    background-size:cover;
    box-sizing: border-box;
}

ul{
    width: 437px;
    height: 48px;
    padding: 0px;
    margin: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
li{
    width: 43px;
    height: 28px;
    list-style: none; 
    color: #ffffff;
   padding: 10px;
   font-size: 15px;

}
.logo{

    width: 186px;
    height: 58px;
    padding: 10px 30px;
    margin-right: 180px;
}
.social-media{
    color: #ffffff;
    display: flex;
    width: 41px;
    height: 41px;
    gap: 24px;
    top: 56.51px;
    left: 999.04px;
    right: 40px;
    bottom: 58.51px;
}
.action{
     width: 41px;
    height: 41px;
}
.hero3{
    position: absolute;
    top: 80px;
    width: 100%;
    height: 725px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 80px 0px;
    
}
h1{
    width: 672px;
    height: 168px;
    padding: 10px;
    font-size: 74px;
    line-height: 84px;
    color:#ffffff;
    margin: 0px;
    text-align: center;
}

h4{
    color: #ffffff;
    text-align: center;
    width: 766px;
    height: 80px;
    padding: 10px;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    margin:0px;

}
.content{ 
    width: 786px;
    height: 295px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    }
button{
    display: flex;
    width: 236px;
    height: 52px;
    padding: 16px 0px;
    flex-direction: column;
    align-items: center;
    margin: 12px 0px 12px 20px;
    background-color: #2091F9;
    border-radius: 35px;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
}
button:hover{
    cursor: pointer;
    background: linear-gradient(356deg, rgba(255,255,255,1) 0%, rgba(109,213,250,1) 35%, rgba(32,145,249,1) 100%);

}