.content{
    display: flex;
flex-direction: column;
align-items: center;
gap: 80px;
align-self: stretch;
}
.text-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    }
    .Feature{
    color: var(--text, #252B42);
    text-align: center;
    
    font-size: 48px;
    font-family: Graphik;
    line-height: 55px;
    letter-spacing: 0.2px;
    }
    .text-feature {
    color: var(--second-text, #374754);
    text-align: center;
    
    font-size: 28px;
    font-family: Graphik;
    line-height: 40px;
    letter-spacing: 0.2px;
    }
    .Service-list {
        display: flex;
        flex-direction: row;
        justify-content:center;
        gap: 52px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .Service-items {
    display: flex;
    width: 255px;
    
    height: 257px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 10px 10px 8px 10px #888888;
    
    }
    .Service-text span {
    color: var(--text, #252B42);
    display: block;
    text-align: center;
    justify-self: center;
    padding: 10px;
    font-size: 20px;
    font-family: Graphik;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.5px;
    }
    .Service-text p{
    color: var(--second-text, #374754);
    text-align: center;
    
    font-size: 18px;
    font-family: Graphik;
     height :25px;
    letter-spacing: 0.1px;
    margin-top: 10px;
    }
    .screen-content {
    display: flex;
    width: 1058.191px;
    padding: 52px 0px;
    flex-direction: column;
    align-items: center;
    gap: 59.071px;
    }
    .video-screen {
    
    align-self: center;
    
    width: 1177.341px;
    height: 400px;}
    
    .play {
    position: relative;
    bottom: 250px;
    left: 300px;
    width: 100.397px;
    height: 100.397px;
    flex-shrink: 0;
    border-radius: 187.397px;
    background: var(--primary, #2091F9);
    }
    .video-button{
    width: 20.849px;
    height: 20.849px;
    flex-shrink: 0;
    }
    .Hero-light-4 {
    display: flex;
    padding: 226px 82px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    
    }
    
    .light4-text span{
    color: var(--text, #252B42);
    
    /* H2 */
    font-size: 48px;
    font-family: Graphik;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.2px;
    margin-left: -300px;
    
    }
    .light4-text p{
    color: var(--second-text, #374754);
    
    /* H4 */
    font-size: 28px;
    font-family: Graphik;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
    margin-left: -300px;
    }
    
    .button {
    display: flex;
    width: 236px;
    padding: 16px 0px;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    border: 1px solid var(--primary, #2091F9);
    background: var(--primary, #2091F9);
    margin-left: -300px;
    /*try for free*/
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 800;
    color: #FFFFFF;
    }
    .screen-ct {
        display: flex;
        padding: 10.804px;
        flex-direction: column;
        align-items: center;
        gap: 31.331px;
        margin-left:200px;
        position: relative;
        bottom: 260px;
        left: 300px;
        }
        .Mac-pro {
        width: 624.464px;
        height: 349.165px;
        
        }
        .base-bottom {
        margin-left: 100px;
        position: relative;
        bottom: -10px;
        right: 65px;
        width: 400px;
        height: 7.269px;
        flex-shrink: 0;
        background-color: #9FA2A5;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
        }
        .base {
        width: 400px;
        height: 12.897px;
        flex-shrink: 0;
        background-color: #D8D8D8;
        margin-left: 100px;
        position: relative;
        bottom: 10px;
        right: 65px;
        }
        .backround{
        width: 410.561px;
        height: 310px;
        flex-shrink: 0;
        border-radius: 16.19px 16.19px 0px 0px;
        
        background:  #000;
        
        }
        .image-sc {
            border: 8px solid #000;
            outline:  6px solid #9FA2A5;
            border-radius:16.19px 16.19px 0px 0px; ;
            width: 250px;
            height: 200px;
            position: relative;
            left: 100px;
        }
        .grip{
        position: relative;
        width: 83.481px;
        height: 7.738px;
        flex-shrink: 0;
        bottom: 30px;
        left: 190px;
        }
        .light4-text {
            margin-right: 100px;
        }
    .light4-text {
        margin-right: 100px;
    }
    button:hover {
        cursor: pointer;
        background: linear-gradient(356deg, rgba(255,255,255,1) 0%, rgba(109,213,250,1) 35%, rgba(32,145,249,1) 100%);
    }
    .Service-items:hover {
     cursor: pointer;
    
    }
    